# dependencies
node_modules/

# envs (NUNCA subir)
.env
.env.prod
.env.*
!.env.example

# logs
*.log

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# editor
.vscode/

# prisma (gerado automaticamente)
generated/prisma/

# possíveis bancos locais
prisma/*.db